.products-hero-section{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url("../assets/productsbg2.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    padding: 100px 0;;
}
.products-hero-texts{
   width: 900px;
   margin: 30px auto;
   text-align: center;
   color: whitesmoke;
}
.products-hero-texts h3{
color: var(--main-color);
font-size: 25px;
font-family: var(--font-bold);
font-weight: 500;
}
.products-hero-texts h1{
font-size: 75px;
font-family: var(--font-bold);
font-weight: 600;
}
.products-hero-texts p{
 width: 80%;
 margin: 20px auto;
 font-size: 20px;
 line-height: 32px;
}


.products-body-section{
     padding: 100px 0;
}

.products-body-content h2{
      font-family: var(--font-bold);
      font-size: 30px;
      font-weight: 500;
}
.products-body-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    row-gap: 40px;
    column-gap: 20px;
}
.product-moja img{
      max-height: 400px;
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
}
.product-moja:hover img{
      transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
}
.product-moja h3{
      font-size: 25px;
      margin: 10px 5px;
      font-family: var(--font-bold);
      font-weight: 500;
      color: #333;
}






/* Single Product Styles */
.single-product-hero{
      padding: 100px 0;
}
.single-hero-texts h1{
        text-align: center;
        font-family: var(--font-bold);
        font-size: 65px;
        font-weight: 600;
        margin-bottom: 20px;
}


.subcategory-specifics{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
        margin-top: 30px;
}
.subcategory-moja{
      margin-top: 40px;
      border-bottom: 1px solid rgba(174, 174, 174, 0.274);
      padding-bottom: 40px;
}
.subcategory-moja h2{
       margin-bottom: 10px;
       font-size: 28px;
       font-family: var(--font-bold);
       font-weight: 500;
}
.subcategory-moja p{
       font-size: 20px;
       color: #333;
}
.product h4{
      font-size: 18px;
      text-align: center;
      width: 80%;
      margin: 10px auto;
      font-weight: 500;
      color: #444;
}
.product-image img{
       max-height: 260px;
       object-fit: contain;
}













@media(max-width: 1090px){
       .products-hero-texts{
                 width: 100%;
       }
      .products-body-row,
      .subcategory-specifics{
               grid-template-columns: 1fr 1fr;
      }
}

@media(max-width: 768px){
      .products-hero-texts h1,
      .single-hero-texts h1{
               font-size: 55px;
      }
    
}
@media(max-width: 550px){
      .subcategory-specifics{
             grid-template-columns: 1fr;
      }

}